.root {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #5E0CC3 9.69%, #320E43 38.43%, #000000 100%);
  position: relative;
  overflow-x: hidden;
}

.content {
  width: 100%;
  position: relative;
  z-index: 20;
}

.modal {
  &-content {
    padding: 0 !important;
    &:first-child {
      padding-top: 0 !important;
    }
  }
}