.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #000000 6.32%, #5B00E2 66.15%, #000000 92.71%);
  & > *:not(.bg) {
    z-index: 10;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
  padding-top: 48px;
  width: 100%;
  & > img {
    margin-bottom: 72px;
  }
}

.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 84px;
  &.noBg {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  &-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 64%;
    padding: 48px;
    background-color: #FDCE0A;
    width: 100%;
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      display: block;
      left: 10px;
      top: 10px;
      width: 100%;
      height: 100%;
      background-color: #FF4681;
    }
    &.noBg {
      padding: 0;
      background: none;
      &::after {
        display: none;
      }
      & > p {
        color: white;
      }
    }
    & > p {
      width: 100%;
      font-weight: 500;
      font-family: 'Futura PT';
      font-size: 30px;
      line-height: 1.3;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      & > span {
        color: #F75AFD;
      }
      &.bold {
        font-weight: 700;
      }
    }
  }
  &-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 28%;
    width: 100%;
    & > img {
      width: 100%;
    }
  }
}

.borderBlock {
  border: 2px solid #FF4681;
  border-left: none;
  border-right: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 15%;
  & > p {
    width: 70%;
    max-width: 703px;
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    color: white;
  }
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 85px;
  &-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 48px;
    & > * {
      font-family: 'Futura PT';
      font-weight: 700;
      font-size: 50px;
      line-height: 1.3;
      color: white;
      &:last-child {
        z-index: -1;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #FF4681;
      }
    }
  }
  & > h3 {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-basis: 24%;
      position: relative;
      width: 100%;
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        padding-right: 20%;
        & > * {
          font-family: 'Futura PT';
          font-weight: 700;
          font-size: 50px;
          line-height: 1.3;
          color: white;
          &:last-child {
            z-index: -1;
            position: absolute;
            top: 5px;
            left: 5px;
            color: #FF4681;
          }
        }
      }
      & > p {
        font-size: 22px;
        line-height: 1.3;
        color: white;
        font-family: 'Futura PT';
        font-weight: 500;
        width: 100%;
      }
      & > img {
        position: absolute;
        bottom: 120%;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 258px;
  padding-top: 84px;
  &-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 64px;
    & > * {
      width: 100%;
      text-align: center;
      font-family: 'Futura PT';
      font-weight: 700;
      font-size: 50px;
      line-height: 1.3;
      color: white;
      &:last-child {
        z-index: -1;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #FF4681;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    & > a {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}