.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  // background: linear-gradient(180deg, #5E0CC3 9.69%, #320E43 38.43%, #000000 100%);
}

.first-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  // min-height: 100vh;
  z-index: 100;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
}