.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.item {
  @keyframes slideOutDown {
    from {
      transition: top linear;
      top: -154px;
    }

    to {
      top: 150%;
      visibility: hidden;
    }
  }
  position: absolute;
  top: 0;
  animation-name: slideOutDown;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}