.wrapper {
  width: 100%;
}

.root {
  margin-top: 64px;
  display: flex;
  flex-direction: column-reverse;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 90px;
  & > img {
    margin-bottom: 8px;
  }
  & > .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
}

.item {
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > div {
    position: relative;
    margin-bottom: 24px;
    & > span {
      font-family: "Press Start 2P";
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0em;
      text-align: left;
      color: #FCC855;
      position: relative;
      z-index: 10;
      &:last-child {
        position: absolute;
        color: #FF4681;
        left: 0;
        top: 6px;
        z-index: 0;
      }
    }
  }
  & > p {
    font-family: 'Futura PT';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
}

.onlyMobile {
  display: none !important;
}