.wrapper {
  width: 100%;
}

.root {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 64px;
}

.content {
  width: 100%;
  padding-top: 12px;
  & > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &.triple {
      & > .item {
        flex-basis: 22%;
        &.big {
          flex-basis: 43%;
        } 
      }
    }
    & > .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 38%;
      & > p {
        font-family: 'Futura PT';
        font-size: 30px;
        line-height: 1.33;
        text-align: center;
        color: white;
      }
      & > div {
        position: relative;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > span {
          font-size: 32px;
          line-height: 1.3;
          font-family: "Press Start 2P";
          color: #FDCE0A;
          z-index: 10;
          position: relative;
          text-align: center;
          &:last-child {
            text-align: center;
            position: absolute;
            top: 4px;
            left: 0;
            z-index: 0;
            color: #FF4681;
          }
        }
      }
    }
  }
}

.separator {
  height: 177px;
  width: 0;
  border: 2px solid #FDCE0A;
}

.onlyMobile {
  display: none;
}