.root {
  & > img {
    margin-bottom: 54px;
    height: 60px;
  }
}

.content {
  & > p {
    font-family: "Futura PT";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #FDCE0A;
  }
  & > .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    & > .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      flex-basis: initial;
      margin-bottom: 54px;
      & > p {
        text-align: left;
        & > br {
          content: ''
        }
      }
      & > div {
        width: 100%;
        justify-content: flex-start;
        & > span {
          font-size: 7vw;
          text-align: left;
          &:last-child {
            text-align: left;
          }
        }
      }
      &::after {
        margin-top: 54px;
        content: '';
        display: block;
        width: 50%;
        height: 0;
        border: 2px solid #FDCE0A;
      }
      &.noLineMobile {
        margin-bottom: 0;
        &::after {
          content: none;
        }
      }
    }
  }
}

.separator {
  display: none;
}

.onlyMobile {
  display: flex;
}

.noMobile {
  display: none;
}
