.root {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 48px;
}

.adventurer {
  width: 30%;
  top: -30px;
  right: 0;
}

.row {
  &-title {
    flex-basis: 38%;
    & > span {
      font-size: 22px;
      line-height: 1.3;
    }
  }
  &-content {
    flex-basis: 70%;
    & > h5 {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 6px;
    }
    & > p {
      font-size: 20px;
      line-height: 1.4;
    }
  }
}