.wrapper {
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 110px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 48px;
  &-title {
    flex-basis: 20%;
    padding-top: 16px;
    & > span {
      color: white;
      font-size: 30px;
      line-height: 1.3;
      text-transform: uppercase;
      font-family: "Futura PT";
      font-weight: bold;
    }
  }
  &-content {
    flex-basis: 72%;
    background-color: #FF4681;
    padding: 16px 40px;
    & > h5 {
      font-family: 'Futura PT';
      color: #320E43;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
      line-height: 1.3;
    }
    & > p {
      font-family: 'Futura PT';
      color: white;
      font-size: 30px;
      line-height: 1.3;
    }
  }
}