.root {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 48px;
}

.adventurer {
  width: 30%;
  top: -30px;
  right: 0;
}

.row {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  &-title {
    flex-basis: 38%;
    margin-bottom: 24px;
    & > span {
      font-size: 22px;
      line-height: 1.3;
    }
  }
  &-content {
    padding: 16px;
    & > p {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}