.root {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  width: 100%;
  padding-top: 48px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  & > img {
    margin-bottom: 56px;
  }
  & > h4 {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 6.48px;
    color: #FDA80A;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 60px;
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  & > span, & > div > span {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 6.48px;
    // color: #FCC855;
    color: #8C8C8C;
  }
  & > p, & > div > p {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1;
    // color: #FCC855;
    color: #8C8C8C;
  }
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > span {
      margin-bottom: 32px;
      display: flex;
    }
  }
  &-minor {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    & > div {
      align-items: flex-start;
      &:first-child {
        margin-bottom: 40px;
      }
      & > span {
        font-size: 30px;
        margin-bottom: 20px;
        letter-spacing: 0;
      }
      & > p {
        font-size: 22px;
      }
    }
  }
}

.mint-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.joinDiscord {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px;
  color: #5E0CC3;
  font-family: 'Futura PT';
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  max-width: 462px;

  &:hover {
    color: #FF4681;
  }
}

.location {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: white;
}
