.root {
  margin-bottom: 16px;
}

.header {
  margin-bottom: 9vw;
  & > h4 {
    font-size: 20px;
  }
}

.timer {
  padding-bottom: 5px;
  & > span, & > div > span {
    font-size: 8vw;
    margin-bottom: 2vw;
  }
  & > span {
    width: 8vw;
  }
  & > div {
    & > p {
      font-size: 16px;
    }
  }
  &-minor {
    padding-left: 16px;
    width: 9vw;
    & > div {
      &:first-child {
        margin-bottom: 6vw;
      }
      & > span {
        font-size: 3.5vw;
      }
      & > p {
        font-size: 9px;
      }
    }
  }
}

.mint-wrapper {
  padding-top: 24px;
  padding-bottom: 0;
  margin-bottom: 32px;
  & > img {
    display: none;
  }
}


.location {
  font-size: 3vw;
  text-align: center;
}

.joinDiscord {
  width: 90%;
  max-width: 360px;
  font-size: 35px;
}