.root {
  margin-bottom: 0;
}

.content {
  flex-direction: column-reverse;
  margin-bottom: 24px;
}

.text {
  width: 100%;
  flex-basis: initial;
  font-size: 24px;
  line-height: 1.2;
}

.chips {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-left: 70px;
  margin-top: 32px;
  margin-bottom: 80px;
  &-main {
    width: 205px;
    height: 205px;
  }
  &-extra {
    width: 200px;
    height: 200px;
    top: 35%;
    right: 35%;
    &.entering {
      animation: chipInMobile 0.8s ease-in-out !important;
    }
    &.exiting {
      animation: chipOutMobile 0.8s ease-in-out !important;
    }
    &.exited {
      display: none;
    }
  }
}

@keyframes chipInMobile {
  from {
    top: 0;
    right: 0;
    transform: scale((0.6));
  }
  to {
    top: 35%;
    right: 35%;
    transform: scale((1));
  }
}

@keyframes chipOutMobile {
  from {
    top: 35%;
    right: 35%;
    transform: scale((1));
  }
  to {
    top: 0;
    right: 0;
    transform: scale((0.6));
  }
}

