* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@include media-mobile-xl {
  body::-webkit-scrollbar {
    // width: 52px;
    display: none;
  }
}

.justMobile {
  @media (min-width: $mobile-width) {
    display: none !important;
  }
}

.noMobile {
  @media (max-width: $mobile-width) {
    display: none !important;
  }
}