.root {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 !important;
  margin-bottom: 48px;
}

.content {
  width: 100%;
  min-height: 645px;
}

.slide {
  &_0 {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 64px;
    &--content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 80px;
      & > img {
        margin-bottom: 32px;
      }
      & > p {
        font-family: "Futura PT";
        font-size: 35px;
        color: white;
        line-height: 46px;
        font-weight: 500;
      }
    }
    &--chips {
      position: relative;
      padding-left: 180px;
      & > .chip-main {
        width: 280px;
        height: 280px;
        z-index: 20;
        position: relative;
      }
      & > .chip-extra {
        width: 280px;
        height: 280px;
        position: absolute;
        z-index: 10;
        top: 100px;
        right: 100px;
        &.entering {
          animation: chipIn  0.8s ease-in-out;
        }
        &.exiting {
          animation: chipOut  0.8s ease-in-out;
        }
        &.exited {
          display: none;
        }
      }
    }
  }
  &_1 {
    padding-left: 40px;
    padding-right: 40px;
    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &:first-child {
        margin-bottom: 60px;
        & > img {
          margin-right: 80px;
        }
      }
      &:last-child {
        & > p {
          padding-bottom: 32px;
        }
      }
      & > p {
        flex-basis: 48%;
        font-size: 30px;
        color: white;
        line-height: 39px;
        font-weight: 500;
        font-family: "Futura PT";
      }
      & > img {
        height: 286px;
      }
    }
  }
  &_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    & > p {
      font-size: 25px;
      max-width: 510px;
      margin-right: 69px;
      color: white;
      line-height: 1.5;
      font-weight: 700;
      font-family: "Futura PT";
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    & > div {
      position: relative;
      & > div {
        top: 0;
        height: 100%;
        right: 38%;
        width: 38%;
        position: absolute;
      }
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  &-item {
    width: 15px;
    height: 15px;
    min-height: 15px;
    min-width: 15px;
    max-height: 15px;
    max-width: 15px;
    background-color: #A7A7A7;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &__active {
      background-color: white;
    }
  }
}

.onlyMobile {
  display: none;
}

@keyframes chipIn {
  from {
    top: 0;
    right: 0;
    transform: scale((0.6));
  }
  to {
    top: 100px;
    right: 100px;
    transform: scale((1));
  }
}

@keyframes chipOut {
  from {
    top: 100px;
    right: 100px;
    transform: scale((1));
  }
  to {
    top: 0;
    right: 0;
    transform: scale((0.6));
  }
}