.onlyMobile {
  display: flex;
}

.noMobile {
  display: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 120px;
  margin-bottom: 23px;
  & > img {
    height: 100%;
  }
}

.content {
  min-height: 170px;
}

.mobileSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 70%;
    height: 60vw;
    & > img {
      width: 70%;
      &:first-child {
        z-index: 10;
      }
      &:last-child {
        position: absolute;
        top: 18%;
        right: 25%;
        z-index: 9;
        &.entering {
          animation: chipInMobile  0.8s ease-in-out;
        }
        &.exiting {
          animation: chipOutMobile  0.8s ease-in-out;
        }
        &.exited {
          display: none;
        }
      }
    }
  }
  & > img, & > div  {
    height: 62vw;
    padding-bottom: 48px;
  }
  & > .easter {
    height: 62vw;
    padding-bottom: 48px;
    position: relative;
    & > div {
      z-index: 10;
      width: 63%;
      height: 63%;
      top: 0;
      right: 0;
      position: absolute;
    }
    & > img {
      position: static !important;
      width: 100%;
    }
  }
  & > p {
    width: 100%;
    min-height: 182px;
    font-family: "Futura PT";
    font-size: 24px;
    color: white;
    line-height: 1.2;
    font-weight: 500;
    &.big {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

@keyframes chipInMobile {
  from {
    top: 0;
    right: 0;
    transform: scale((0.6));
  }
  to {
    top: 18%;
    right: 25%;
    transform: scale((1));
  }
}

@keyframes chipOutMobile {
  from {
    top: 18%;
    right: 25%;
    transform: scale((1));
  }
  to {
    top: 0;
    right: 0;
    transform: scale((0.6));
  }
}