.root {
  background: none;
  border: none;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: initial;
  &.infinite {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
  & > .img {
    z-index: 10;
    width: 250px;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  & > .extraImg {    
    position: absolute;
    animation-name: slideInUpWithScale;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    &.default {
      right: 105%;
      width: 60%;
      bottom: 70%;
    }
    &.ready_soon {
      right: 105%;
      bottom: 48px;
      width: 70%;
    }
    &.with_coins {
      width: 30%;
      right: 35%;
      bottom: 30%;
    }
    &.waiting {
      right: 105%;
      bottom: 48px;
      width: 80%;
    }
    &.final {
      z-index: 10;
      top: -80px;
      width: 80%;
      left: 45%;
      // animation: none;
    }
  }
}

@keyframes slideInUpWithScale {
  from {
    transform: translate3d(0, 20%, 0);
    visibility: visible;
    transform: scale(1);
  }
  
  50% {
    transform: translate3d(0, 0, 0);
    transform: scale(0.7);
  }

  to {
    transform: translate3d(0, 20%, 0);
    transform: scale(1);
  }
}