.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & > div {
    border-radius: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & > img {
      width: 100%;
    }
    &:hover {
      & > div {
        display: flex;
      }
    }
    & > div {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: rgba(2, 2, 2, 0.55);
      backdrop-filter: blur(4.16816px);     
      & > span {
        font-family: 'Futura PT';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25px;
        letter-spacing: 0.06em;
        text-align: center;
        color: white;
        text-transform: uppercase;
      }
      & > a {
        position: absolute;
        bottom: 45px;
      }
    }
  }
  & > span {
    color: white;
    font-size: 32px;
    line-height: 1.25;
    font-family: 'Futura PT';
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }
}